<h4>Fetch new Exercise - Id:</h4>
<%= @exercise_id %>
<h4>Data here </h4>
<%= 20.times { print "-"} %>
<p>Question</p>
<strong>
<%= @exercise_data.question %>
</strong>
<p>Answer</p>
<strong>
<%= @exercise_data.answer%>
</strong>